body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
/* Style Navbar */
header nav {
    padding: 1em 8em;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h5 {
    color: black;
    font-size: medium;
    font-weight: 800;
    margin: 5px;
}
header .logo {
    display: flex;
    align-items: center;
    height: 70px;
}
header .logo img {
    height: 70px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 800;
}
header nav ul li a:hover {
    color: #900000;
    transition: all 0.75s ease-out;
}
header .btn-nav {
    background-color: #900000;
    color: white;
    border-radius: 2em;
    width: auto;
    font-weight: 800;
    padding: 0.5em 1em;
    font-size: 1em;
}
header .btn-nav:hover {
    background-color: black;
    transition: all 0.75s ease-out;
}

/* Style header présentation */
header .header-img {
    height: 400px;
    width: 100%;
    background:url("../img/photo-header.jpeg");
    background-size: cover;
    background-position: center center;
}
header h1 {
    font-size: 3em;
    text-align: center;
    color: white;
    justify-content: center;
    margin: 0;
}
header h3 {
    font-size: 2em;
    text-align: center;
    color: white;
    justify-content: center;
    margin: 0;
    font-weight: 400;
}
header .overlay {    
    display: flex;
    justify-content: center;    
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
/* Style header présentation */


/* Style A propos */

#apropos h2 {
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}
#apropos .titre{
    width: 100%;
    color: white;
}
#apropos .propos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #900000;
    padding: 3em;
}
#apropos .text_propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40%;
}
#apropos .image_propos{
    width: 40%;
    height: 400px;
    margin-left: 3em;
}
#apropos .image_propos img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50px;
}


/* Style galerie */
#plat h2{
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
}
#plat .item{
    width: 300px;
    height: 230px;
    margin: 15px;
    overflow: hidden;
    flex-shrink: 0;
}
#plat .item img{
    width: 100%;
    height: 100%;
}

#plat .item:hover {
    transform: scale(1.2);
    transition: all 0.75s ease-out;
}

#plat .section_galerie{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#plat .galerie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1000px;
    margin: 0px auto 50px auto;
}


/* Style venir chez nous */

#venir {
    background-color: black;
    padding: 2em;
    color: #fff;
    text-align: center;
}

#venir h1 {
    color: #fff;
    font-weight: 800;
    font-size: 2.5em;
}
#venir .text-bold {
    font-weight: 800;
}

.map iframe {
    width: 100%;
    height: 300px;
    margin: 0;
    margin-bottom: -20px;
}

/* Style Footer */
#reservation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #900000;
    width: 100%;
    height: 40%;
    padding-bottom:40px;
    padding-top: 30px;;
}

#form{
    width: 100% ;
} 

.formcss{
    width: 40%;
    text-align:start;
    background-color:white;
    border-radius: 30px;
    padding: 50px;
    color: black;
    font-weight:bold ;
    margin:20px auto;
    
}


#legals{
    text-align: center;
    font-size: 0.8em;

}
#reservation h2{
    margin-bottom: 0;
    font-size: 2.5em;
    text-align: center;
    color: white;
}
div.form-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 35px;
}
footer .bg-input {
    width: 330px;
    background-color: #d9d9d9;
    border: 0;
    padding-left: 1em;
}
footer label{
    width: 200px;
    padding: 0 20px;
}
section button {
    background-color: #d9d9d9;
    font-weight: bold;
}
footer button{
    cursor: pointer;
    width: 100px;
}
.btn-form {
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin:0 auto;
    font-weight: bolder;
    font-weight: 800;
    padding: 0.5em 1em;
    font-size: 1em;    
    border: 0;
}
.btn-form:hover {
    background-color: #222222;
    color: #fff;
    transition: all 0.3s ease-out;
}