body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    margin: 0px;
}
/* Style Navbar */


/* Style header présentation */


/* Style A propos */


/* Style galerie */


/* Style venir chez nous */


/* Style Formulaire */


/* Style A propos */

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
}
.titre{
    text-align: center;
    width: 100%;
    color: white;
}
.propos{
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: #900000;
width: 100%;
}
.text_propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30%;
    margin: 50px; 
}
.image_propos{
    height: 450px;
    overflow: hidden;
    border-radius: 10%;
}
.image_propos img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Style Footer */