body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* Style Navbar */


/* Style header présentation */


/* Style A propos */


/* Style galerie */


/* Style venir chez nous */

#venir {
    background-color: black;
    padding: 2em;
    color: #fff;
    text-align: center;
}

#venir h1 {
    color: #fff;
    font-weight: 800;
    font-size: 2.5em;
}
#venir .text-bold {
    font-weight: 800;
}

.map iframe {
    width: 100%;
    height: 300px;
    margin: 0;
}


/* Style Formulaire */


/* Style A propos */


/* Style Footer */